.ui-suggest-container {
    position: absolute;
    background: #fff;
    border: 1px solid #717171;
    z-index: 9;
    display: none;
}
.ui-suggest-container .ui-suggest-item {
    padding: 3px 5px;
    cursor: pointer;
    color: #3d3d3e;
}
.ui-suggest-container .ui-suggest-item.state-hover {
    background: #f4f4f4;
}